<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alert.alertapp"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlertApp"
        tools:targetApi="31">
        <activity
            android:name=".UptadeAlert"
            android:exported="false" />
        <activity
            android:name=".AlertTime"
            android:exported="false" />
        <activity
            android:name=".AddAlert"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.alert.alertapp.alertprovider"
            android:name=".AlertProvider"
            android:exported="false">

        </provider>
        <service
            android:name=".ReminderService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".AlertReceiver"
            android:process=":remote"
            android:exported="true">
        <intent-filter>
            <action android:name="com.alert.BROADCAST_ACTION" />
            <!-- İsteğe bağlı olarak başka action'ları da ekleyebilirsiniz -->
        </intent-filter>
        </receiver>

    </application>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

</manifest>